@import "../theme";

button {
  padding: 3px 10px;
  border-radius: 3px;
  background-color: $surface-container-high;

  &:hover {
    background-color: $surface-container-highest;
  }

  &:active {
    background-color: $inverse-on-surface;
  }

  &.highlight-action-btn {
    background-color: $on-primary;

    &:hover {
      background-color: $primary-container;
    }

    &.single {
      border-radius: 15px;
    }
  }
}
