@import "../theme";
@import "../abstract/functions";

$bars-gradients: (
  $on-primary,
  $primary-container,
  $primary-container,
  $primary,
  $primary,
  $secondary,
  $primary,
  $primary,
  $primary-container,
  $primary-container,
  $on-primary
);

progressbar:not(.cava) {
  trough {
    background-color: $surface-bright;
    border-radius: 15px;
    padding: 10px 0;

    progress {
      padding: 10px;
      background-color: $primary;
      border-radius: 15px;
      min-width: 5px;
    }
  }

  &.v {
    trough {
      padding: 0 10px;

      progress {
        min-height: 5px;
      }
    }
  }
}

progressbar.cava {
  min-height: 130px;

  trough {
    background-color: transparent;
    border-radius: 0px;
    padding: 0px;

    progress {
      padding: 0;
      background-color: transparent;
      border-radius: 0;
      min-width: 6px;
    }
  }

  &.t trough progress {
    border-radius: 9px 9px 0px 0px;
  }

  &.b trough progress {
    border-radius: 0px 0px 9px 9px;
  }
  @for $i from 1 through 60 {
    $t: ($i - 1) / (60 - 1);
    &:nth-child(#{$i}) {
      trough progress {
        background-color: gradient-color($bars-gradients, $t);
      }
    }
  }
}
