@import "../theme";

window.clock {
  background-color: transparent;
}

.main-clock {
  .time {
    color: $primary;
    font-size: 9rem;
    font-weight: 900;
  }
  .date {
    color: $secondary;
    font-size: 2rem;
    font-weight: 700;
  }

  .smart-spacer {
    margin-top: 1.5rem;
  }
}
