@import "../theme";

window.media-control {
  background-color: rgba($color: $background, $alpha: 90%);
  border-radius: 30px;
}

.main-media-control {
  border-radius: 30px;
  .main {
    padding: 8px;
    padding-bottom: 0;
    background-color: rgba($color: #000000, $alpha: 60%);
    border-radius: 30px;
  }

  .album-art-background {
    border-radius: 30px;
  }

  .status {
    padding: 5px 10px;
    border: 1px solid $outline-variant;
    border-radius: 15px;
    label {
      font-size: 10px;
    }
  }

  .album-art {
    border-radius: 15px;
    border: 1px solid $outline-variant;
  }

  .bottom {
    padding: 10px;
    border-radius: 3px 3px 15px 15px;
  }

  .info {
    margin-left: 10px;
    margin-top: 5px;
  }

  .info-title {
    font-size: 14px;
    font-style: italic;
    font-weight: 600;
  }

  .info-artist {
    font-size: 11px;
    font-style: italic;
    color: $outline;
  }

  .seek {
    margin-top: 5px;
    .seek-slider {
      background-color: $surface-bright;
      border-radius: 15px;
      border: 1px solid $outline-variant;

      > contents > trough {
        highlight {
          background-color: $primary;
          padding: 3px;
          border-radius: 14px;
        }
      }
    }

    .seek-min {
      font-size: 10px;
      color: $outline;
    }
  }

  .action-container {
    margin-top: 10px;
    // background-color: $surface-container-high;
    border-radius: 20px;
    // border-top: 2px solid $surface-container-low;
    // border-bottom: 2px solid $surface-container-low;

    > box {
      padding-left: 2.3px;
      // background-color: $surface-container-low;
      border-radius: 15px;
    }

    > :nth-child(3) ~ * {
      padding-right: 2.3px;
      padding-left: 0;
    }

    button {
      background-color: transparent;
      border-radius: 15px;
      padding: 7px 12px;

      &:hover {
        background-color: rgba($color: $surface-container-high, $alpha: 30%);
      }
    }

    > :nth-child(3) {
      padding: 0 2.3px;

      button {
        padding: 7px 30px;
        background-color: $on-primary;

        &:hover {
          background-color: $primary-container;
        }
      }
    }
  }

  .cava-visualizer {
    background-color: transparent;
    padding-bottom: 1px;
  }

  progressbar.cava {
    margin: 0;
    min-height: 130px;
    trough {
      min-width: 4px;

      progress {
        min-width: 0.5px;
        padding: 1.5px;
      }
    }
  }
}
