@import "../theme";

window.panel {
  background: unset;
}
.main-panel {
  padding: 6px;
  padding-top: 10px;

  .profile-pic {
    border-radius: 0.75rem;
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.06);
    min-width: 4rem;
    min-height: 4rem;
  }

  .btn-list {
    .button {
      padding: 6px;
    }
  }

  .wallpaper-selector-image {
    border: 1px solid rgba($color: $outline, $alpha: 0.08);
    border-radius: 15px;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
