@import "../theme";

window.wallpaper {
  background-color: $background;
}
.main-wallpaper {
  border-radius: 30px 30px 0px 0px;
  transition: 2s cubic-bezier(0.05, 0.9, 0.1, 1);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: inset 0 10px 8px -10px $background;
}
