$background: #12140f;
$error: #ff7b6e;
$error-container: #a4020d;
$error-dim: #da342e;
$inverse-on-surface: #54564f;
$inverse-primary: #4e6640;
$inverse-surface: #f9faf1;
$on-background: #e2e3db;
$on-error: #530003;
$on-error-container: #ffaea4;
$on-primary: #152a0b;
$on-primary-container: #d0ecbc;
$on-secondary: #38442f;
$on-secondary-container: #b6c4a8;
$on-surface: #f8fded;
$on-surface-variant: #a0a597;
$on-tertiary: #656129;
$on-tertiary-container: #5d5822;
$outline: #808578;
$outline-variant: #50564b;
$primary: #90ab7f;
$primary-container: #415934;
$scrim: #000000;
$secondary: #bdcbaf;
$secondary-container: #333f2b;
$shadow: #000000;
$surface: #0c0f0a;
$surface-bright: #292e24;
$surface-container: #171b14;
$surface-container-high: #1d2119;
$surface-container-highest: #22271e;
$surface-container-low: #11140e;
$surface-container-lowest: #000000;
$surface-dim: #0b1008;
$surface-tint: #b3cfa1;
$surface-variant: #43493e;
$tertiary: #fffae1;
$tertiary-container: #f5eda8;
