$primary: #bcc2ff;
$on-primary: #1b2678;
$primary-container: #343f90;
$on-primary-container: #dfe0ff;
$secondary: #c4c5dd;
$on-secondary: #2d2f42;
$secondary-container: #444559;
$on-secondary-container: #e0e0f9;
$tertiary: #e6bad6;
$on-tertiary: #45263d;
$tertiary-container: #5e3c54;
$on-tertiary-container: #ffd7f0;
$error: #ffb4ab;
$on-error: #690005;
$error-container: #93000a;
$on-error-container: #ffb4ab;
$background: #1b1b1f;
$on-background: #e4e1e6;
$surface: #1b1b1f;
$on-surface: #e4e1e6;
$surface-variant: #46464f;
$on-surface-variant: #c7c5d0;
$outline: #91909a;
$outline-variant: #46464f;
$shadow: #000000;
$scrim: #000000;
$inverse-surface: #e4e1e6;
$inverse-on-surface: #303034;
$inverse-primary: #4c57a9;
$surface-tint: #c8c5ca;
$surface-dim: #131316;
$surface-bright: #39393c;
$surface-container-lowest: #0e0e11;
$surface-container-low: #1b1b1f;
$surface-container: #1f1f23;
$surface-container-high: #2a2a2d;
$surface-container-highest: #353438;
