$background: #1b1013;
$on-background: #f3dde1;
$surface: #1b1013;
$surface-dim: #1b1013;
$surface-bright: #433639;
$surface-container-lowest: #150b0e;
$surface-container-low: #24181c;
$surface-container: #281c20;
$surface-container-high: #33272a;
$surface-container-highest: #3e3135;
$on-surface: #f3dde1;
$surface-variant: #564147;
$on-surface-variant: #dcbfc6;
$inverse-surface: #f3dde1;
$inverse-on-surface: #3a2d30;
$outline: #a48a90;
$outline-variant: #564147;
$shadow: #000000;
$scrim: #000000;
$surface-tint: #ffb1c8;
$primary: #ffb1c8;
$on-primary: #650033;
$primary-container: #c64578;
$on-primary-container: #ffffff;
$inverse-primary: #a92d62;
$secondary: #ffb1c8;
$on-secondary: #521e32;
$secondary-container: #622b3f;
$on-secondary-container: #ffc0d2;
$tertiary: #ffb690;
$on-tertiary: #542100;
$tertiary-container: #c05400;
$on-tertiary-container: #ffffff;
$error: #ffb4ab;
$on-error: #690005;
$error-container: #93000a;
$on-error-container: #ffdad6;
