$background:#111418;
$on-background:#e1e2e9;
$surface:#111418;
$surface-dim:#111418;
$surface-bright:#37393f;
$surface-container-lowest:#0b0e13;
$surface-container-low:#191c21;
$surface-container:#1d2025;
$surface-container-high:#272a2f;
$surface-container-highest:#32353a;
$on-surface:#e1e2e9;
$surface-variant:#414751;
$on-surface-variant:#c1c7d3;
$inverse-surface:#e1e2e9;
$inverse-on-surface:#2e3036;
$outline:#8b919c;
$outline-variant:#414751;
$shadow:#000000;
$scrim:#000000;
$surface-tint:#a3c9ff;
$primary:#a3c9ff;
$on-primary:#00315c;
$primary-container:#005395;
$on-primary-container:#eef3ff;
$inverse-primary:#0960a9;
$secondary:#b2c8ea;
$on-secondary:#1b314d;
$secondary-container:#293e5a;
$on-secondary-container:#bcd2f5;
$tertiary:#ecb1ff;
$on-tertiary:#4d1464;
$tertiary-container:#733b89;
$on-tertiary-container:#fff1fe;
$error:#ffb4ab;
$on-error:#690005;
$error-container:#93000a;
$on-error-container:#ffdad6;
